{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<form class="box-element" action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>Nome de usuário:</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>Senha:</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <button class="btn" type="submit">Entrar</button>
    
    <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
    <p>Ainda não tem uma conta? <a href="{% url 'password_reset' %}">Cadastre-se</a></p>
</form>


{% endblock content %}